{% extends 'email/layout/base.html.twig' %}
{% trans_default_domain 'messages' %}

{% set emailTitle = 'pteroca.email.recovery.subject'|trans %}

{% block content %}
    {% include 'email/components/icon_section.html.twig' with {
        icon: '🔑',
        iconColor: '#3b82f6',
        title: 'pteroca.email.recovery.title'|trans,
        message: 'pteroca.email.recovery.subtitle'|trans
    } %}

    {% include 'email/components/alert.html.twig' with {
        type: 'info',
        message: 'pteroca.email.recovery.we_received_request'|trans ~ ' ' ~ 'pteroca.email.recovery.click_link_to_reset'|trans
    } %}

    {% include 'email/components/button.html.twig' with {
        url: recoveryUrl,
        text: 'pteroca.email.recovery.reset_password'|trans
    } %}

    {% include 'email/components/divider.html.twig' %}

    {% include 'email/components/alert.html.twig' with {
        type: 'warning',
        message: 'pteroca.email.recovery.link_valid'|trans
    } %}

    <p style="text-align: center; font-size: 14px; color: #6b7280; margin: 16px 0 0;">
        {{ 'pteroca.email.recovery.if_not_requested'|trans }}
    </p>
{% endblock %}